.table {
  table-layout: fixed;
  text-align: center;
  width: 60%;
  border-collapse: collapse;
  box-shadow: 3px 2px 9px -3px #757575;
  background-color: #769cff;
}

.th:not(:first-child) {
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: solid 1px #ffffff;
}

.tbody tr:nth-child(odd) {
  background-color: #eeeeee;
}

.tbody tr:nth-child(even) {
  background-color: white;
}
